:root{
/*color pallete*/
--mauvelous: #F29CA3;
--alice-blue: #EFF8FD;
--rhythm:#777DA7;
--raisin-black: #282828;
--shadow-blue: #7286A0;
}

@font-face {
  font-family: 'bleh';
  src: url('/fonts/ChunkFive-Regular.otf');
}


html, body{
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

header{
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  font-size: 20px;
  justify-content: space-between;
  
  align-items: center;
}


body{
  overscroll-behavior: none;
  background:linear-gradient(131.6deg, #7F9EFA 20.86%, rgba(76, 232, 120, 0.475) 104.02%);  
  color: var(--raisin-black); 
  font-size: 16px;
}





nav ul{
  list-style-type: none;
}

.logo{
  font-family: 'bleh';
  position: relative;
  left: 5%;

}

.logo a{
  color: white;
  text-decoration: none;
}

nav{
  font-family: 'bleh';
}

.nav-list{
  display: flex;
  column-gap: 15px;
}

.nav-list li{
  list-style: none;
  /* padding: 12px 40px; */
}

.nav-list li a{
  color: white;
  text-decoration: none;
}

.middleSection{
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.frontRect{
  background-color: #fa7ff8;
  border-radius: 15px;
  width: 300px;
  height: 250px;
}
.backRect{
  background-color: #faaa7f;
  border-radius: 15px;
  width: 300px;
  height: 250px;
}
 


#nameOpener{
  font-family: 'bleh';
  text-align: center;
  font-size: 2.25em;
  /* animation: glow 1s ease-in-out infinite alternate; */
}

#openingBlurb{
  text-align: center;
  font-size: 1.25em;
}



/* @-webkit-keyframes glow{
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */

/* Tab Content on Experience page
  reference: https://www.w3schools.com/howto/howto_js_tabs.asp
*/

 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 


/* The sidepanel menu 
    reference: https://www.w3schools.com/howto/howto_js_collapse_sidepanel.asp
*/
.sidepanel {
    height: 250px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }