*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Glegoo';
  src: url('/fonts/Glegoo-Regular.ttf') format('truetype');
}

@font-face {/*Heading Text*/
  font-family: 'NunitoMed';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {/*Body text*/
  font-family: 'Biryani-Regular';
  src: url('/fonts/Biryani-Regular.otf');
}

html, body{
  /* max-width: 100%; */
  height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body{
  position: relative; /*prevent navbar from extending mobile screen*/
  background: radial-gradient(circle, rgba(128,158,249,1) 35%, rgba(198,238,224,1) 100%);
  background-attachment: fixed; /*constant linear graphic while scrolling*/
  font-family: 'Biryani-Regular', Courier, monospace;
}



p{
  font-family: 'Biryani-Regular', Courier, monospace;
  line-height: 1.5rem;
}


/*logo picture in upper left corner*/
.logo{
  height: 7%;
  width: 15%;
  margin-top: 1rem;
  margin-left: 1rem;
}
.logo img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.clickable{
  display: flex;
}

/*Home Page Formatting*/
.middleSection{
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5%;
  position: relative;
}

.circle{
  background: radial-gradient(circle, rgba(128,158,249,1) 35%, rgba(198,238,224,1) 100%);
  width: 70vw;
  height: 70vw;
  display: flex;
  /* margin-top: 25%; */
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: inherit;
  margin-left: auto;
  margin-right: auto;
}

/*text inside circle*/
.text{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -95%;
  width: 100%;
  height: 100%;
  transform: rotate(-70deg);
 
}

.text span{
  position: absolute;
  left: 5%;
  right: auto;
  font-size: 1.5em;
  transform-origin: 0 45vw;

}

.opening{
  padding: 1.5em;
  text-align: center;
  font-size: 1.1rem;
}


/*
            About Me Grid
*/

.bio-container{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.picture-of-me img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  /* filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.25)); */
}

.bio-opening{ /*grid placement*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'header pic'
    'para para';
  row-gap: 1.5ch;
  align-items: center;
  grid-column-gap: 12px;
  background: linear-gradient(90deg, rgba(252,169,249,1) 35%, rgba(252,175,88,1) 100%);
  border-radius: 17px;
  padding: 1.5em;
  border: white;
  /* filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.25)); */
}


.pic-and-background{
  grid-area: pic;
  display: flex;
}


.description{
  margin-top: 1rem;
  grid-area: para;
}

.description-element li{
  list-style-type: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.bio-greeting{
  grid-area: header;
  font-size: 1.75em;
  font-family: 'NunitoMed', Courier, monospace;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

/*Fun facts grid*/

.fun-facts{
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background: linear-gradient(90deg, rgba(252,169,249,1) 35%, rgba(252,175,88,1) 100%);
  border-radius: 50px;
  padding: 1.5em; 
}

.square-grid{
  padding: 1rem;
}

/*grid headings*/
.square-grid h4{
  font-family: 'NunitoMed', Courier, monospace;
  font-weight: 800;
  font-size: 1rem;
}

.grid-desc{
  font-family: 'NunitoMed', Courier, monospace;
  font-weight: 800;
  font-size: .9rem;
}


.square-grid ul{
  list-style-type: none;
  padding-top: .75rem;
}

.square-grid li{
  padding-bottom: .40rem;
}

    /*adds gridlins*/
.grid-top{
  border-bottom: 2px solid black;
}

.grid-middle{
  border-left: 2px solid black;
}

/*
          Projects Formatting
*/

.project-main{
  height: 100vh;
  margin-top: 10%;
}

.project-main h4{
  font-family: 'Nunito', Courier, monospace;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(71, 70, 70);
}

.project-container{
  display: flex;
  justify-content: center;
  padding-top: 3em;
  column-gap: 30px;
  height: inherit;
}


.all-projects{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10%;
}

.all-projects li{
  line-height: 1.5em;
}

.project{
  height: 25vh;
  width: 35vh;
  border-radius: 5%;
  overflow: hidden; /*clip content*/
}

.project-link{
  position: absolute;
  opacity: 0%;
  width: inherit;
  height: inherit;
}

.project-background{
  height: 17vh;
}

.drexel-grab{
  background: #086c5c;
}


.project-logo img{
  height: 12vh;
  margin-left: 35%;
  margin-top: 7%;
}

.drexel-info{
  background: #b8d4ac;
}

.brandywine-logo img{
  height: 12vh;
  margin-left: 5%;
  margin-top: 5%;
}

.project-info{
  /* background: #ebf763; */
  width: 35vh;
  height: 10vh;
  /* margin-top: 0.5%; */
}

.project-info h5{
  text-align: center;
  font-size: 1.1rem;
  padding: 1.2em;
}

.brandywine{
  background: #e4dcd4;
}

.brandywine-info{
  background: #6c5b4b;
  color: white;
  text-align: center;
  height: 10vh;
}

.brandywine-info h5{
  padding: 0.5em;
  font-family: "Nunito";
  font-weight: 400;
}



/* 

EVERYTHING BELOW IS RESERVED FOR THE DESKTOP VERSION WHEN MEDIA QUERY IS APPLIED AFTER THIS QUARTER

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;

  or 
nav{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  background: #8bcaa9;
}

nav ul{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  list-style: none;
}

nav ul li{
  margin-top: 2rem;
}



.nav-link li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 0.12em;
} */


/*styling individual nav links*/
/* .nav-link li{
  list-style: none;
  display: inline-block;
  padding-inline: 1em;
}

.nav-link li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 0.12em;
}

.nav-link li a:hover{ 
  color: rgb(206, 51, 147);
  transition: .2s;
} */