*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ChunkFive';
  src: url('/fonts/ChunkFive-Regular.otf');
}

header{
  height: 100vh;
  width: 100%;
  font-family: 'ChunkFive';
  font-size: 1.5rem;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%; /*adjust*/
  padding-left: 5%;
  padding-right: 5%;
}

body{
  background:linear-gradient(136.17deg, #7F9EFA 46.53%, rgba(76, 232, 119, 0.475) 100%);  
}

.logo a{
  text-decoration: none;
  color: white;
}

.nav-list li{
  list-style: none;
  display: inline-block;
  padding-inline: 1em;
}

.nav-list li a{
  color: white;
  text-decoration: none;
  letter-spacing: 0.12em;
}

.nav-list li a:hover{ /*change color*/
  color: rgb(206, 51, 147);
  transition: .2s;
}